/* start about styles */

#about {
    z-index: 2;
    overflow: visible;
    
    &:after {

	background: -webkit-linear-gradient(right, #0f2f62 0%, #0f2f62 40%, #03132d 100%); /* для webkit-браузеров */
	background: -moz-linear-gradient(right, #0f2f62 0%, #0f2f62 40%, #03132d 100%); /* для firefox 3.6+ */
	background: -o-linear-gradient(right, #0f2f62 0%, #0f2f62 40%, #03132d 100%); /* для Opera 11.10+ */
	background: -ms-linear-gradient(right, #0f2f62 0%, #0f2f62 40%, #03132d 100%); /* для IE10+ */
	 background: linear-gradient(to left, #0f2f62 0%, #0f2f62 40%, #03132d 100%);

	}
    
    > .img {
        height: 116%;
        top: -8%;
        text-align: center;
        
        &:before {
            content: "СИТ";
            font-size: 165px;
            line-height: 165px;
            color: $color_a;
            font-weight: 800;
            padding-left: 25px;
            display: inline-block;
            padding-top: 40px;
        }
    }
    
    .text {
        padding-bottom: 10px;
        margin-left:50%;
        padding-top: 50px;
    }
    .button_block {
        padding-bottom: 50px;
        margin-left:50%;
    }
}
    
    .video {
        width: 710/1560*100%;
        position: relative;
        background: url(images/video.jpg) no-repeat center / cover;
        height: 420px;
        overflow: hidden;
        text-align: center;
        
        a{
            &:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: url(images/video_play.png) no-repeat center / cover;
                @include transition(opacity);
            }
            span {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                line-height: 570px;
                display: block;
                color: #fff;
                @include transition(opacity);
            }
            
            &:hover {
                &:before, span{
                    opacity: 0.6;
                }
            }
        }
    }
    
#about .video {
    margin-top: 140px;
    text-align: center;
}

.fancybox-container .fancybox-close-small {
    text-indent: -10000px;
    overflow: hidden;
    background: $color_a url(images/close.png) no-repeat center;
    height: 40px;
    width: 40px;
    top: 0;
    right: 0;
    //outline: 1px solid $color_a;
    border: 0;
}
.fancybox_video {
    background: $color_a;
}

p.big {
    font-size: 150%;
    line-height: 145%;
}

button, 
button:active, 
button:focus {
    outline: none;
}
button::-moz-focus-outer, button::-moz-focus-inner {
    border: 0;
    padding: 0;
    outline: 0px solid transparent;
}

//@media screen and (max-width: 1600px) {
//}

//@media screen and (max-width: 1300px){
    
    
//}
@media screen and (max-width: 1000px) {
    #about {
        .in {
            padding-top: 5px;
        }
        
        .text {
            padding-bottom: 10px;
            margin-left: 0;
            padding-top: 40px;
        }
        .button_block {
            padding-bottom: 40px;
            margin-left:0;
        }
        .video {
            display: block;
            float: none;        
            width: auto;
            margin: 35px auto 0;
        }
    }
        
        .video {
            max-width: 600px;
            height: 300px;        
            //width: auto;
            a span {
                line-height: 430px;
            }
        }
    
}
@media screen and (max-width: 800px) {
    #about {
        
    }
}

@media screen and (max-width: 590px) {
    #about { 
    }
        .video {
            height: 250px;
            a span {
                line-height: 380px;
            }
        }
        
        main .video {
            float: none;
            width: auto;
            max-width: none;
            margin-right: auto;
            margin-left: auto;
        }
}

@media screen and (max-width: 450px) {
    #about {
    }
        .video {
            height: 170px;
            a span {
                line-height: 250px;
            }
        }
}

/* end about styles */