/* start advantages styles */

#advantages {
    //z-index: 2;
    overflow: hidden;
    background-color: #fff;
    
    .in {
	padding: 140px 20px 100px;
    }
    
    .left_block {
	width: 640/1560*100%;
    }
    
    .h2 {
	max-width: 300px;
    }
    
    
    .advantages_block {
	margin-left: 800/1560*100%;
	padding-top: 20px;
	
	li {
	    text-align: left;
	    width: 45%;
	    max-width: 300px;
	    margin-right: 4.5%;
	    padding: 5px 0px 40px 70px;
	    box-sizing: border-box;
	    display: inline-block;
	    vertical-align: top;
	    background: none;
	    position: relative;
	    line-height: 145%;
	    margin-bottom: 40px;
	    position: relative;
	    
	    &:before {
		position: absolute;
		z-index: 0;
		content: '';
		left: 0px;
		top: -0px;
		width: 100px;
		height: 100px;
		background: url(images/circle.png) no-repeat center ;
	    }
	    
	    .h4, .numeric {
		text-transform: uppercase;
		font-weight: 800;
		display: block;
	    }
	    
	    .numeric {
		font-size: 60px;
		line-height: 100%;
		color: $color_a;
	    }
	    
	    p {
		
	    }
	}
    }
    
}

//@media advantages and (max-width: 1600px) {
    
//}

@media screen and (max-width: 1300px){
    #advantages {
	
    }
}
@media screen and (max-width: 999px) {
    #advantages {
	
    }
}


@media screen and (max-width: 800px) {
    #advantages {
	
    }
}

@media screen and (max-width: 590px) {
    #advantages {
	
    }
}

@media screen and (max-width: 450px) {
    #advantages {
	
    }
}

/* end turnkey_work styles */