/* start content styles */

.top {
    background: #4260b7 url(images/top_bg1.jpg) no-repeat center bottom / cover;
    padding-top: 135px;
    padding-bottom: 40px;
    width: 100%;
    min-height: 205px;
    color: #fff;
    
    h1 {
	font-size: 65px;
	line-height: 100%;
	max-width: $max-width;
	margin: 0 auto 35px;
    }
    
    a {
	color: #fff;
    }

    .sub_menu {
	text-align:  center;
	
	li {
	    display: inline-block;
	    vertical-align: top;
	    padding: 0 2.4%;
	    margin-bottom: 20px;
	    border-left: 1px solid #fff;
	    
	    &:first-child {
		border-left: 0;
	    }
	}
	
	a {
	    display: inline-block;
	}
    }
}

.bc {
    text-align: center;
    margin-bottom: 20px;
    
    span, a {
	margin: 0 3px;
    }
    
    .separ {
	font-weight: 800;
    }
    
    .active {
	color: $color_a;
    }
}

main {
    position: relative;
    
    .button_block {
	text-align: center;
    }
}

.left, .right {
    max-width: 60%;
    
    img {
	display: inline-block;
	max-width: 100%;
    }
}
.left {
    float: left;
    margin: 5px 30px 20px 0;
}
.right {
    float: right;
    margin: 5px 0 20px 30px;
}


.content_wrap {
    padding-top: 65px;
    padding-bottom: 55px;
    font-size: 110%;
    line-height: 160%;
    
    .more_text_link {
	color: $color_a;
	text-decoration: underline;
	font-size: 90%;
	display: inline-block;
	cursor: pointer;
	
	&:hover {
	    text-decoration: none;
	}
    }
}
#about_page{
    .content_wrap {
	background-color: #f4fbfe;
	.in {
	    &:before {
		content: "";
		position: absolute;
		height: 334px;
		width: 537px;
		background: url(images/sit.png) no-repeat center top / 100% auto;
		z-index: 0;
		left: -71px;
		top: -100px;
	    }
	}
	
	section:first-child h2 {
	    padding-top: 35px;
	}
    }
    
}

.text {
    section {
	
	
	&:after{
	    @include clear();
	}
	
	
    }
    
    ul {
	padding-bottom: 5px;
	li {
	    position:  relative;
	    margin-bottom: 15px;
	    padding-left: 20px;
	    
	    &:before {
		content: '';
		display: inline-block;
		width: 7px;
		height: 7px;
		vertical-align: middle;
		background: #0284ba;
		border-radius: 4px;
		top: 10px;
		left: 3px;
		position: absolute;
	    }
	}
    }
    
    ol {
	list-style-type: none;
	counter-reset: number;
	overflow: auto;
	padding-left: 0;
	position: relative;
	z-index: 1;
	
	li {
	    position: relative;
	    padding-left: 25px;
	    padding-top: 17px;
	    margin-bottom: 15px;
	    
	    &:before {
		position: absolute;
		top: 0;
		left: 0;
		counter-increment: number;
		content: "0"counter(number);
		color: #cde7ed;
		font-size: 40px;
		line-height: 100%;
		font-weight: 800;
		z-index: -1;
	    }
	}
    }
    
}



.block404 {
    background: url(images/page404_bg.jpg) no-repeat center bottom/ 100% auto;
    display: table-row;
    height: 100%;
    
    .in {
	display: table-cell;
	text-align: center;
	height: 100%;
	vertical-align: middle;
	padding-top: 160px;
	padding-bottom: 50px;
    }
    
    .img404 {
	font-size: 100px;
	line-height: 110%;
	display: inline-block;
	font-weight: 800;
	color: #fcd5da;
	margin-bottom: 25px;
	max-width: 80%;
	
	img {
	    width: 100%;
	}
    }
    
    p {
	font-size: 35px;
	margin-bottom: 25px;
    }
}

@media screen and (max-width: 1600px) {
    
}

@media screen and (max-width: 1200px) /*and (min-width: 1000px)*/ {


}
@media screen and (max-width: 999px) {

    
}


@media screen and (max-width: 800px) {



    
}

@media screen and (max-width: 590px) {

    
}

@media screen and (max-width: 450px) {

    
}

/* end content styles */