/* start content styles */

.top_block {
    background: url(images/top_bg.jpg) no-repeat center bottom / cover;
    padding-top: 190px;
    padding-bottom: 90px;
    width: 100%;
    //margin-bottom: 70px;
    
    h1 {
	font-size: 65px;
	line-height: 100%;
	max-width: $max-width;
	margin: 0 auto 10px;
    }
}

.bc {
    text-align: center;
    font-size: 12px;
    line-height: 145%;
    margin-bottom: 30px;
    
    span, a {
	margin: 0 3px;
    }
}

.content_wrap {
    padding-top: 70px;
    font-size: 16px;
    line-height: 160%;
    //padding-bottom: 30px;
    
    .in {
	padding: 1px 20px 0;
    }
    
    p {
	margin-bottom: 25px;
    }
    
    .tab_buttons_in {
	margin-top: -70px;
    }
    
    //.services_items {
	//padding-top: 70px;
    //}
    
    h2 {
	margin: 0 0 30px;
	font-weight: 500;
    }
    
    h3 {
	//font-size: 40px;
	font-weight: 500;
	margin: 0 0 15px;
	clear: right;
    }
    
    #accordion{
	.h5 .content {
	    padding: 10px 30px;
	    &:before {
		content: '';
		position: absolute;
		top: 17px;
		left: 0;
		width: 15px;
		height: 19px;
		background: url(images/icon_address_blue.png) no-repeat left center ;
	    }
	}
	.text {
	    padding-left: 30px;
	}
	
    }
    
    .points {
	float: left;
	margin: -115px -115px 20px -280px;
	background: url(images/map_inner.jpg) no-repeat top center;
	width: 900px;
	height: 920px;
	position: relative;
	z-index: -1;
	
	
	.point.smolensk {
	    top: 671px;
	    margin-left: -182px;
	}
	
	.point.moscow {
	    top: 667px;
	    margin-left: 34px;
	}
	.point.sheremetyevo {
	    top: 629px;
	    margin-left: 34px;
	}
	
	.point.petersburg {
	    top: 240px;
	    margin-left: 30px;
	}
	
	.point.baltic {
	    top: 202px;
	    margin-left: -11px;
	}
    }
    #accordion {
	overflow: auto;
    }
}

.text {
    section {
	border-top: 1px solid #eaeff4;
	padding: 30px 0 5px;
	
	@include clear();
	
	&:first-child {
	    border-top: 0;
	}
    }
    
    ul {
	padding-bottom: 5px;
	li {
	    position:  relative;
	    margin-bottom: 15px;
	    padding-left: 20px;
	    
	    &:before {
		content: '';
		display: inline-block;
		width: 7px;
		height: 7px;
		vertical-align: middle;
		background: #0284ba;
		border-radius: 4px;
		top: 10px;
		left: 3px;
		position: absolute;
	    }
	}
    }
    
    ol {
	list-style-type: none;
	counter-reset: number;
	overflow: auto;
	padding-left: 0;
	position: relative;
	z-index: 1;
	
	li {
	    position: relative;
	    padding-left: 25px;
	    padding-top: 17px;
	    margin-bottom: 15px;
	    
	    &:before {
		position: absolute;
		top: 0;
		left: 0;
		counter-increment: number;
		content: "0"counter(number);
		color: #cde7ed;
		font-size: 40px;
		line-height: 100%;
		font-weight: 800;
		z-index: -1;
	    }
	}
    }
    
    .col {
	display: inline-block;
	width: 44%;
	margin-right: 5%;
	vertical-align: top;
	
	img {
	    margin-bottom: 20px;
	    max-width: 100%;
	}
    }
}

.left, .right {
    max-width: 60%;
    
    img {
	display: inline-block;
	max-width: 100%;
    }
}
.left {
    float: left;
    margin: 5px 20px 30px 0;
}
.right {
    float: right;
    margin: 5px 0 30px 20px;
}

.button_block.right {
    padding: 15px 20px;
    position: relative;
    z-index: 2;
    float: right;
}

.content_wrap .button_block.right:first-child {
    margin-top: -70px
}


    .text.project_more {
	width: 64%;
	float: left;
	margin-right: 7.5%;
    }


.gallery {
    text-align:  justify;
    padding-top: 10px;
    
    .photo, &:after {
	display: inline-block;
	width: 28.5%;
	margin-bottom: 60px;
    }
    
    .photo {
	overflow: hidden;
	height: 300px;
	position: relative;
	box-shadow: 0 20px 20px rgba(33, 97, 143, 0.25);
	@include transition(box-shadow);
	
	a {
	    display: block;
	    width: 100%;
	    height: 100%;
	    
	    &:before {
		width: 45px;
		height: 45px;
		content: "";
		right: 20px;
		bottom: 20px;
		background: rgba(4, 114, 178, 0.7) ;
		position: absolute;
		@include transition(all);
	    }
	    &:after {
		width: 45px;
		height: 45px;
		content: "";
		right: 20px;
		bottom: 20px;
		background: url(images/loupe.png) no-repeat 50% 50%;
		position: absolute;
	    }
	}
	
	img {
	    width: 100%;
	    object-fit: cover;
	    height: 100%;
	    vertical-align: middle;
	}
	
	&:hover {
	    box-shadow: 0 20px 20px rgba(33, 97, 143, 0.45);
	    a:before {
		width: 100%;
		height: 100%;
		right: 0;
		bottom: 0;
		background-color: rgba(4, 114, 178, 0.3) ;
		background-position: 90% 90%;
	    }
	}
    }
    
    &:after {
	content: "";
	margin-bottom: 0;
    }
}

.contacts_page {
    .content_wrap {
	padding-top: 190px;
	text-align: justify;
	
	.in:after {
	    content: "";
	    display: inline-block;
	    width: 100%;
	}
    }
    
    .text {
	margin-top: 40px;
	display: inline-block;
	width: 380/1340*100%;
	vertical-align: top;
	text-align: left;
	margin-bottom: 60px;
	
	h1 {
	    text-align:  left;
	}
	
	@include decor_b();
    }
    
    .cont_block {
	padding-top: 40px;
	display: inline-block;
	width: 380/1340*100%;
	vertical-align: top;
	text-align: left;
	margin-bottom: 60px;
	box-sizing: border-box;
	padding: 40px 40px 20px;
	border: 1px solid #d7e1ea;
	background: no-repeat center bottom / cover;
	min-height: 380px;
	
	h4 {
	    font-weight: 800;
	    margin-bottom: 20px;
	}
	
	p {
	    margin-bottom: 20px;
	}
	
	a {
	    color: $color_text;
	    
	}
    }
    
}



.news_block{
    position: relative;
    h2 {
	font-weight: 500;
	margin-bottom: 20px;
    }
    
}
.news_slider {
    
    .slick-list {
	overflow: visible;
	
    }
    .new {
	height: 395px;
	width: 380px;
	margin: 0 50px 50px; 
	position: relative;
	overflow: hidden;
	box-shadow: 0 20px 20px rgba(33, 97, 143, 0.25);
	@include transition(all);
	opacity: 0.3;
	
	&.slick-active {
	    opacity: 1;
	}
	
	.image {
	    position: relative;
	    width: 100%;
	    height: 100%;
	    background: no-repeat center / cover;
	}
	
	a {
	    position: absolute;
	    top: 0px;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
	
	.info {
	    position: absolute;
	    width: 100%;
	    box-sizing: border-box;
	    padding: 20px;
	    background: #fff url(images/new_bg.png) no-repeat left center / 91px 100%;
	    bottom: 0;
	    left: 0;
	    
	    
	    
	    time, p{
		display: inline-block;
		vertical-align: middle;
	    }
	    
	    time{
		font-size: 10px;
		line-height: 145%;
		color: #1f1f1f;
		text-align:  center;
		margin-right: 20px;
		
		span {
		    display:  block;
		    font-size: 30px;
		    line-height: 100%;
		    font-weight: 200;
		    
		}
	    }
	    p{
		width: 80%;
		margin-bottom: 0;
		@include transition(color);
		color: $color_a;
	    }
	    
	}
	
	
	
	&:hover {
	    box-shadow: 0 20px 20px rgba(33, 97, 143, 0.7);
	    
	    .info p{
		color: $color_text;
	    }
	}
    }
}

.block404 {
    background: url(images/page404_bg.jpg) no-repeat center bottom/ 100% auto;
    display: table-row;
    height: 100%;
    
    .in {
	display: table-cell;
	text-align: center;
	height: 100%;
	vertical-align: middle;
	padding-top: 160px;
	padding-bottom: 50px;
    }
    
    .img404 {
	font-size: 100px;
	line-height: 110%;
	display: inline-block;
	font-weight: 800;
	color: #fcd5da;
	margin-bottom: 25px;
	max-width: 80%;
	
	img {
	    width: 100%;
	}
    }
    
    p {
	font-size: 35px;
	font-family: $font_family_h;
	margin-bottom: 25px;
    }
}

@media screen and (max-width: 1600px) {
    
}

@media screen and (max-width: 1200px) /*and (min-width: 1000px)*/ {
.contacts_page {
    .text, .cont_block {
	width: 32%;
    }
    .cont_block {
	padding: 30px 30px 20px;
    }
}
.top_block {
    h1 {
	font-size: 55px;
	line-height: 100%;
    }
}

.button_block.right {
    margin-bottom: 0;
}

}
@media screen and (max-width: 999px) {
.contacts_page {
    .content_wrap {
	padding-top: 160px;
    }
    .text, .cont_block {
	width: 47%;
    }
    .cont_block {
	padding: 40px 40px 20px;
    }
}
.top_block {
    padding-top: 160px;
    padding-bottom: 70px;
    h1 {
	font-size: 45px;
	line-height: 100%;
    }
}

.left, .right {
    max-width: 50%;
}
.content_wrap {
    font-size: 15px;
    line-height: 160%;
    .points {
	margin: -115px -115px 20px -380px;
	
    }
}

.block404 {
    .in {
	padding-top: 80px;
    }
}
    
}


@media screen and (max-width: 800px) {
.contacts_page {
    .content_wrap {
	padding-top: 120px;
    }
    .text, .cont_block {
	width: 49%;
    }
    .text {
	margin-top: 80px;
    }
    .cont_block {
	padding: 20px;
	margin-bottom: 20px;
	min-height: 355px;
	.cont.tel {
	    font-size: 15px;
	    
	}
    }
}
.top_block {
    padding-top: 120px;
    padding-bottom: 50px;
    h1 {
	font-size: 40px;
	line-height: 100%;
    }
}

.content_wrap {
    .points {
	display: none;
    }
}


    
}

@media screen and (max-width: 590px) {
.contacts_page {

    .text, .cont_block {
	width: 100%
    }
    .text {
	margin-top: 60px;
    }
    .cont_block {
	padding: 40px;
	margin-bottom: 30px;
	min-height: 1px;
	.cont.tel {
	    font-size: 16px;
	}
	min-height: 290px;
    }
    
}

.top_block {
    padding-top: 100px;
    padding-bottom: 40px;
    
    .bc {
	margin-bottom: 15px;
    }
    h1 {
	font-size: 35px;
	line-height: 100%;
    }
}

.block404 {
    
    p {
	font-size: 30px;
    }
}
    
}

@media screen and (max-width: 450px) {
.contacts_page {
    .cont_block {
	padding: 20px;
    }
}

.top_block {
    padding-top: 80px;
    padding-bottom: 30px;
    h1 {
	font-size: 30px;
	line-height: 100%;
    }
}

.left, .right {
    max-width: 100%;
    float: none;
    text-align: center;
}

.block404 {
    
    p {
	font-size: 25px;
    }
}

.content_wrap {
    font-size: 14px;
    line-height: 160%;
}
    
}

/* end content styles */