/* start contacts styles */

#contacts_page {
    main {
	&:after {
	    @include clear();
	}
	
	.in {
	    position: static;
	    &:after {
		display: none;
	    }
	}
	
	.text {
	    position: relative;
	    float: left;
	    margin: 40px 0;
	    padding: 45px 0;
	    z-index: 2; 
	    width: 445px;
	    
	    address {
		padding: 35px 25px 35px 45px;
		box-shadow: 0 4px 57px rgba(0,0,0,0.26);
		position: relative;
		z-index: 2;
		display: block;
		font-style: normal;
		box-sizing: border-box;
		color: #fff;
		background: #487ffb;
		background: -webkit-linear-gradient(60deg, rgba(72,127,251, 0.89) 0%, rgba(101,179,252, 0.89) 100%); /* для webkit-браузеров */
	background: -moz-linear-gradient(60deg, rgba(72,127,251, 0.89) 0%, rgba(101,179,252, 0.89) 100%); /* для firefox 3.6+ */
	background: -o-linear-gradient(60deg, rgba(72,127,251, 0.89) 0%, rgba(101,179,252, 0.89) 100%); /* для Opera 11.10+ */
	background: -ms-linear-gradient(60deg, rgba(72,127,251, 0.89) 0%, rgba(101,179,252, 0.89) 100%); /* для IE10+ */
	background: linear-gradient(60deg, rgba(72,127,251, 0.89) 0%, rgba(101,179,252, 0.89) 100%);
	
	
		a {
		    color: #fff;
		    text-decoration: underline;
		    
		    &:hover {
			text-decoration: none;
		    }
		    
		    &.button {
			text-decoration: none;
		    }
		}
		p {
		    margin-bottom: 20px;
		}
	    }
	    
	    &:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		//width: 300px;
		height: 100%; //580px;
		//background-color: #d1ddde;
		border-top: 45px solid transparent;
		border-bottom: 45px solid transparent;
		border-left: 300px solid #d1ddde;
		z-index: 1;
		box-sizing: border-box;
		
	    }
	}
	
    }
    
    
    .section_bg {
	background: url(images/contacts_page_form_bg.jpg) no-repeat center / cover;
	&:after {
	    display: none;
	}
	
	.left_block {
	    padding-top: 200px;
	    max-width: 400px;
	    
	    .h1 {
		text-align:  left;
	    }
	}
	
	.form_block {
	    padding-top: 80px;
	}
	
    }

    
} 
    

	main .cont {
	    padding: 0 0 0 35px;
	    font-size: 14px;
	    line-height: 145%;
	    position: relative;
	    
	    &:before {
		position: absolute;
		left: 0;
		top: -2px;
		content: '';
		width: 25px;
		height: 25px;
		background: url(images/icons.png) no-repeat 0 0;
		opacity: 0.72;
	    }
	    
	    &.tel:before {
		background-position: -28px -25px;
	    }
	    &.fax:before {
		background-position: -28px -53px;
	    }
	    &.address:before {
		background-position: -28px -166px;
		top: 0;
	    }
	    &.time:before {
		background-position: -28px -199px;
	    }
	    &.mail:before {
		background-position: -28px -78px;
		top: 0;
	    }
	}
    
.map, #map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0;
    background: url(images/map.jpg) no-repeat center bottom;
	
	
    iframe {
	height: 100%;
	width: 100%;
	border: 0;
    }
}




@media screen and (max-width: 1600px) {
    #contacts {
	
	
    }  
}

@media screen and (max-width: 1300px)  {
    #contacts {
	
    } 
}
@media screen and (max-width: 999px) {
    #contacts_page {
	main {
	    
	    .text {
		width: 50%;
	    }
	}
    }
}


@media screen and (max-width: 800px) {
    #contacts {
	
    } 
}

@media screen and (max-width: 590px) {
    #contacts {
	
    } 
}

//@media screen and (max-width: 450px) {
    
//}

/* end contacts styles */