/* start reviews styles */

#questions {
    //background-color: #fff;
    z-index: 5;
    overflow: hidden;
    position: relative;
    min-height: 750px;
    
    &:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 793/1920*100%;
	height: 830px;
	background: url(images/questions_img.png) no-repeat left top / 100% auto ;
	max-width: 795px;
    }
    
    .in {
        padding: 40px 20px 0;
    }
    
    .h1 {
	//font-size: 50px;
	//line-height: 90%;
	text-align: left;
	margin-left: 520/1340*100%;
	
	.mask {
	    display: block;
	}
    }

    
}
    #accordion, #accordion+.button_block {
        margin-left: 520/1340*100%;
	margin-bottom: 30px;
	position: relative;
	z-index: 2;
    }
    
    #accordion {
        padding-bottom: 1px;
	
	.h5 {
	    border: 0;
	    border-top: 1px solid #d7e1ea;
	    background: url(images/tabs_shadow.png) no-repeat center top / 100% auto ;
	    position: relative;
	    padding: 15px 0 10px ;
	    margin-bottom: 0;
	    //font-size: 20px;
	    //line-height: 145%;
	    cursor: pointer;
	    
	    &:first-child {
		background: none;
		border: 0;
	    }
	    
	    .content {
		padding: 10px 50px;
		display: block;
		position: relative
	    }
	    
	    .count {
		background: url(images/count_bg.png) no-repeat center top / 100% auto ;
		font-family: $font_family_os;
		color: #fff;
		font-weight: 800;
		text-shadow: 0 2px 1px rgba(33, 97, 143, 0.25);
		width: 34px;
		height: 34px;
		text-align: center;
		padding-top: 2px;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -19px;
		font-size: 20px;
		line-height: 145%;
	    }
	    
	    
	    .ui-accordion-header-icon {
		position: absolute;
		right: 10px;
		top: 30px;
		width: 12px;
		height: 12px;
		background: url(images/arr_bottom_blue.png) no-repeat center;
		@include transition_slow(transform);
	    }
	    
	    &.ui-state-active .ui-accordion-header-icon {
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		transform: rotate(-180deg);
	    }
	    
	    &.ui-state-active .count {
		background-image: url(images/count_bg_active.png)
	    }
	    
	    &:hover {
		color: #008cbf;
	    }
	}
            
	.text {
	    border: 0;
	    padding: 0px 50px;
	    color: $color_text;
	    line-height: 162%;
	}
           
    }

@media screen and (max-width: 1700px) {
    #questions {
        min-height: 700px;
    }
}

//@media screen and (max-width: 1300px){
//    #accordion {
        
//    } 
//}
//@media screen and (max-width: 1099px) {
//    #questions {
        
//    }
//}
@media screen and (max-width: 800px) {
    #accordion, #accordion+.button_block {
        margin-left: 0;
    }
     #questions {
	.h1 {
	    margin-top: 50px;
	    margin-bottom: 50px;
	}
        
    }
    
    .questions_page #questions {
	&:after {
	    display: none
	}
    }
}

@media screen and (max-width: 610px) {
    #questions {
        .h1 {
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
    }
}

@media screen and (max-width: 450px) {
    #questions {
	
	&:after {
	    display: none;
	}
        .h1 {
	    margin-top: 0px;
	    margin-bottom: 0px;
	    margin-left: 0
	}
    }
}

/* end reviews styles */