/* start sertificates styles */

    
.sertificates {
    margin-left: calc(50% - 10px);
    margin-bottom: 40px;
    
        &.slick-slider .slick-list { 
            margin: 0px;
            padding: 10px;
        }
        
        .sert {
            margin: 0 10px;
            width: 220px;
            //box-shadow: 0 20px 10px rgba(33, 97, 143, 0.25);
            position: relative; 
            @include transition(all);
            background: #fff;
            
            &:hover{
                transform: scale(1.1);
            }
            
            a {
                display: block;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    @include transition(all);
                    z-index: 2;
                    background-color: rgba(96, 175, 249, 0.43);
                    
                    background: -webkit-linear-gradient(45deg, rgba(0, 128, 255, 0.43) 0%, rgba(0, 181, 255, 0.43) 100%); /* для webkit-браузеров */
	background: -moz-linear-gradient(45deg, rgba(0, 128, 255, 0.43) 0%, rgba(0, 181, 255, 0.43) 100%); /* для firefox 3.6+ */
	background: -o-linear-gradient(45deg, rgba(0, 128, 255, 0.43) 0%, rgba(0, 181, 255, 0.43) 100%); /* для Opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(0, 128, 255, 0.43) 0%, rgba(0, 181, 255, 0.43) 100%); /* для IE10+ */
	background: linear-gradient(45deg, rgba(0, 128, 255, 0.43) 0%, rgba(0, 181, 255, 0.43) 100%);
                }
                
                &:hover{
                    &:before {
                        opacity: 0;
                        background: none;
                    }
                    
                    img {
                        opacity: 1;
                    }
                } 
                
            }
            
            img {
                width: 100%;
                display: inline-block;
                @include transition(all);
                opacity: 0.8;
            }
        }
        
        .slick-arrow {
		margin-top: -7px;
		height: 15px;
                width: 51px;
                background: url(images/arrow_white.png) no-repeat left center;
	}
	.slick-prev {
		left: -7px;
		
		&:hover {
                    left: -12px;
		}
	}
	.slick-next {
		background-position: right center;
		right: -7px;
		
		&:hover {
		    right: -12px;
		}
	}
    }
    


//@media screen and (max-width: 1600px) {
//    #sertificates {
        
        
//    }
//}

@media screen and (max-width: 1300px){
    #sertificates {
        
        
    }
    
}
@media screen and (max-width: 999px) {
    .sertificates {
        margin-left: 0;
    }
}
@media screen and (max-width: 800px) {
    #sertificates {
        
    }
}

@media screen and (max-width: 590px) {
    #sertificates {
        
    }
}

@media screen and (max-width: 450px) {
   #sertificates {
        
    }
}

/* end sertificates styles */