/* start waterproofing styles */

#waterproofing {
    //background-color: #fff;
    overflow: visible;
    
    
    .tabs_container {
	
    }

    .tab {
	position: relative;
	width: 100%;
	background: no-repeat center top;
	
	.in {
	    padding: 0;
	    max-width: 1600px;
	    //position: static;
	    z-index: auto;
	}
	
	h3 {
	    position: absolute;
	    width: 100%;
	    text-align:  center;
	    top: 170px;
	    left: 0;
	    letter-spacing: 2px;
	}
	
	img.bg {
	    width: 100%;
	    //opacity: 0;
	}
	
	
	&:after {
	    @include clear();
	}
	
	&.residential_facility {
	    background-image: url(images/residential_facility_bg.jpg);
	}
    }
    
    .tab_buttons {
	top: 80px;
	
	
	> span {
		display: inline-block;
		color: $color_text;
		font-weight: 700;
		font-size: 18px;
		letter-spacing: 0.5px;
		text-align:  left;
		padding: 20px 25px 5px 70px;
		margin: 0 10px 20px;
		min-width: 305px;
		height: 60px;
		box-sizing: border-box;
		background-color: rgba(255,255,255,0.15);
		text-decoration: none;
		border-radius: 30px;
		position: relative;
		cursor: pointer;
		@include transition(all);
		
		.icon {
		    position: absolute;
		    left:0px;
		    top: 0px;
		    background-color: rgba(255,255,255,0.41);
		    background-clip: padding-box;
		    width: 60px;
		    height: 60px;
		    padding: 6px;
		    border: 6px solid rgba(255,255,255,0.20);
		    box-sizing: border-box;
		    border-radius: 30px;
		    overflow: hidden;
		    @include transition(all);
		    
		    &:before, &:after {
			content: '';
			height: 36px;
			width: 36px;
			position: absolute;
			top: 6px;
			left: 6px;
			background-color: #dbeef9;
			border-radius: 30px;
			opacity: 0.7;
			@include transition(all);
		    }
		    &:after {
			opacity: 0;
			background: url(images/icon_bg.png) no-repeat center;
		    }
		    
		    img{
			position: relative;
			z-index: 2;
			width: 36px;
			top: -61px;
		    }
		}
		&:hover, &.active {
		     background-color: rgba(255,255,255,1);
		     color: $color_a;
			
		    .icon {
			
			background: -webkit-linear-gradient(225deg, #0080ff 0%, #00b5ff 100%); /* для webkit-браузеров */
	background: -moz-linear-gradient(225deg, #0080ff 0%, #00b5ff 100%); /* для firefox 3.6+ */
	background: -o-linear-gradient(225deg, #0080ff 0%, #00b5ff 100%); /* для Opera 11.10+ */
	background: -ms-linear-gradient(225deg, #0080ff 0%, #00b5ff 100%); /* для IE10+ */
	background: linear-gradient(225deg, rgba(0, 128, 255, 0.41) 0%, rgba(0, 181, 255, 0.41) 100%);
			background-clip: initial;
			border-color: rgba(255,255,255,0.41);
			
			img{
			    top: 0px;
			}
			
			&:before {
			    opacity: 0;
			}
			 &:after {
			    opacity: 1;
			}
		    }
		}
	}

    }
    
    .points {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 7;
	width: 100%;
	height: 100%;
	pointer-events: none;
    }
    .point {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 0%;
	left: 0%;
	//z-index: 10;
	pointer-events: auto;
	
	&.p1 {
	    top: 22.95%;
	    left: 31.88%;
	}
	&.p2 {
	    top: 65%;
	    left: 22%;
	}
	&.p3 {
	    top: 64.4%;
	    left: 46.5%;
	}
	&.p4 {
	    top: 78.6%;
	    left: 27.2%;
	}
	&.p5 {
	    top: 77.5%;
	    left: 35.5%;
	}
	&.p6 {
	    top: 86.9%;
	    left: 29.3%;
	}
	&.p7 {
	    top: 81.3%;
	    left: 45.7%;
	}
	&.p8 {
	    top: 78.9%;
	    left: 59.4%;
	}
	&.p9 {
	    top: 76.4%;
	    left: 68.9%;
	}
	&.p10 {
	    top: 73.5%;
	    left: 98.0%;
	}
	
	.plus {
	    width: 100%;
	    height: 100%;
	    font-size: 36px;
	    line-height: 34px;
	    background-color: $color_a;
	    background-clip: padding-box;
	    border: 4px solid rgba(51,197,255,0.42);
	    overflow: hidden;
	    box-sizing: border-box;
	    display: block;
	    text-align:  center;
	    color: #fff;
	    vertical-align: middle;
	    font-weight: 700;
	    border-radius: 20px;
	    padding: 1px;
	    cursor: pointer;
	    position: relative;
	    z-index: 1;
	    @include transition(transform);
	    
	    &:hover {
		opacity: 0.8;
	    }
	    
	    &.active {
		    -webkit-transform: rotate(45deg);
		    -moz-transform: rotate(45deg);
		    -o-transform: rotate(45deg);
		    transform: rotate(45deg);
		    z-index: 3;
	    }
	}
	
	.description {
	   position: absolute;
	   bottom: 45px;
	   width: 720px;
	   height: 200px;
	   z-index: 1;
	   border-radius: 10px;
	   left: 50%;
	   margin-left: -360px;
	   display: none;
	   z-index: 2;
	   
	   &:after {
	    position: absolute;
	    content: '';
	    width: 0;
	    height: 0;
	    border-left: 23px solid transparent;
	    border-right: 23px solid transparent;
	    border-top: 20px solid #fff;
	    left: 50%;
	    margin-left: -23px;
	   }
	   
	   .img {
	    float: left;
	    width: 200px;
	    height: 100%;
	    line-height: 200px;
	    background-color: rgba(4,20,46,0.72);
	    text-align:  center;
	    border-radius: 10px 0 0 10px;
	    
		img {
		    max-width: 80%;
		    vertical-align: middle;
		}
	    }
	    
	    .info {
		margin-left: 200px;
		background-color: #fff;
		padding: 40px 20px 20px;
		height: 100%;
		box-sizing: border-box;
		border-radius: 0 10px 10px 0;
	    }
	   
	}
    }
}

@media screen and (max-width: 1600px) {
    #waterproofing {
	.tab_buttons {
	    top: 40px;
	}
	
	.tab {
	    h3 {
		top: 130px;
	    }
	}
    }
}

@media screen and (max-width: 1300px){
    #waterproofing {
	.tab_buttons {
	    top: 20px;
	}
	
	.tab {
	    h3 {
		top: 100px;
	    }
	}
    }
}
@media screen and (max-width: 999px) {
    #waterproofing {
	.tab_buttons {
	    
	    > span {
		font-size: 16px;
		padding: 15px 25px 5px 60px;
		min-width: 30px;
		height: 50px;
		
		.icon {
		    width: 50px;
		    height: 50px;
		    padding: 4px;
		    border-width: 4px;
		    
		    &:before, &:after {
			height: 34px;
			width: 34px;
			top: 4px;
			left: 4px;
		    }
		    
		    img{
			width: 34px;
			top: -57px;
		    }
		}
		&:hover, &.active {
		    .icon {
			img{
			    top: 0px;
			}
		    }
		}
	    }
	}
	.tab {
	    h3 {
		top: 80px;
		letter-spacing: 0px;
	    }
	}
	
	.point {
	    width: 40px;
	    height: 40px;
	    
	    .description {
	       width: 520px;
	       margin-left: -260px;
		
		.info {
		    padding: 20px;
		    
		    p {
			margin-bottom: 10px;
		    }
		}
	       
	    }
	}
	
    }
}
@media screen and (max-width: 800px) {
    #waterproofing {
	.tab_buttons {
	    top: 10px;
	    > span {
		font-size: 16px;
		padding: 10px 25px 5px 50px;
		min-width: 30px;
		height: 40px;
		
		.icon {
		    width: 40px;
		    height: 40px;
		    padding: 3px;
		    border-width: 3px;
		    
		    &:before, &:after {
			height: 28px;
			width: 28px;
			top: 3px;
			left: 3px;
		    }
		    
		    img{
			width: 28px;
			top: -47px;
		    }
		}
		&:hover, &.active {
		    .icon {
			img{
			    top: 0px;
			}
		    }
		}
	    }
	}
	.tab {
	    h3 {
		top: 60px;
		font-size: 19px;
	    }
	}
	
	.point {
	    width: 30px;
	    height: 30px;
	    .plus {
		font-size: 26px;
		line-height: 24px;
		border-width: 3px;
	    }
	    
	    .description {
	       width: 420px;
	       margin-left: -210px;
	       bottom: 40px;
	       
	       .img {
		    width: 150px;
			img {
			    max-width: 90%;
			}
		    }
		
		.info {
		    padding: 20px;
		    margin-left: 150px;
		    
		    p {
			margin-bottom: 10px;
		    }
		}
	       
	    }
	}
    }
}

@media screen and (max-width: 590px) {
    #waterproofing { 
	display: none;
	
	
    }
}

//@media screen and (max-width: 450px) {

//}

/* end standards styles */