/* start working styles */

#working {
    background-color: #fff;
    z-index: 1;
    overflow: hidden;
    
    .in {
	
    }
    
}

//@media screen and (max-width: 1600px) {
//}

@media screen and (max-width: 1300px){
    #working {
	
    }
}
@media screen and (max-width: 999px) {
    #working {
	
    }
}


//@media screen and (max-width: 800px) {
//}

//@media screen and (max-width: 590px) {
//}

@media screen and (max-width: 450px) {
    #working {
	
    }
}

/* end working styles */